:root {
    --color-primary: #7b7b7b;
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-grey:#D3D3D3;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Containers */
  .page-contianer{
display: grid;
grid-template-columns: 2fr;
grid-template-rows: repeat(4, 1fr);
grid-column-gap: 0px;
grid-row-gap: 0px;
    grid-template-areas:
     "header"
     "nav"
     "body"
     "footer"
  }

  .logoContainer{
    grid-area: header;
  }

  .nav-container{
    grid-area: nav;
  }

  .body-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 7px;
    grid-row-gap: 7px;
  }

  .image1{
    grid-area: 1 / 1 / 2 / 2; 
    width: 20%;
    height: 20%;

  }


  header{
    padding: 0%;
    height: 121px;
  }
  
  body{
    font-family: sans-serif;
  }
 
 .Logo{
    width: 600px;
    height: 121%;
    padding: 0%;
    padding: 0%;
    margin: auto;
    display: grid;
    grid-area: header;
    
}



/* Nav Bar*/
.menu-bar {
    background-color:var(--color-white);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: left;
    padding: 0%;
    margin: 0%;
    position: relative;
  }
  
  .menu-bar ul {
    list-style: none;
    display: flex;
    align-items: center;
  }
  
  .menu-bar ul li {
    padding: 10px 30px;
    position: relative;
  }
  
  .menu-bar ul li a {
    font-size: 20px;
    color: var(--color-black);
    text-decoration: none;
  
    transition: all 0.3s;
  }
  
  .menu-bar ul li a:hover {
    color: var(--color-primary);
  }
  
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }
  
  /* dropdown menu style */
  .dropdown-menu {
    display: none;
  }
  
  .menu-bar ul li:hover .dropdown-menu {
    display: block;
    position: absolute;
    left: 0;
    top: 100%;
    background-color: var(--color-grey);
  }
  
  .menu-bar ul li:hover .dropdown-menu ul {
    display: block;
    margin: 10px;
  }
  
  .menu-bar ul li:hover .dropdown-menu ul li {
    width: 150px;
    padding: 10px;
  }
  
  .dropdown-menu-1 {
    display: none;
  }
  
  .dropdown-menu ul li:hover .dropdown-menu-1 {
    display: block;
    position: absolute;
    left: 150px;
    top: 0;
    background-color: #657c7e;
  }
/*Footer*/
footer{
  background-color: var(--color-white); 
  text-align: center;
  display: grid;
  grid-area: footer;
}
.footer-container{
  height: 80px;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0 5%;
}

.copyright{
  text-align: center;
  font-size: 14px;
  display: flex;
justify-content: space-between;
padding-top: 8px;
padding-right: 8px;
}
.twitterIcon{
  height: 30px;
  width: 28px;
}


/*Responsive Styles*/

@media screen and (max-width:767px){
  .Logo{
    width: 427px;
    height: 86px;
    padding: 0%;
    padding: 0%;
    margin: auto;
    
}
}


